body {
    margin:0;
    padding:0;
    background: url(http://www.seinemaritime.fr/images/xl/lepisode-neigeux-en-chiffres-en-seine-maritime.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

a {
	color: #000000;
}
a:hover, a:focus {
	color: #FF4C00;
}
strong {
	color: #000000;
}

h3 {
color: #000000;
font-size:"14";
}



#indentVille {
	padding-left: 1.8cm;
	text-decoration: none;
}

/* Bloc central contenant #navigation et #contenu */
#centre {
	background: url(img/07-colonnes.png) repeat-y; /* Voir -> Note 1 */
}

/* Navigation */
#navigation {
	background: #353836; /* -> 2 */
}
#navigation a {
	color: #FF6533;
}
#navigation a:hover, #navigation a:focus {
	background: #7B837E;
}

/* Contenu principal */
#contenu {
	color: black;
	/* background: url(http://thejackspage.free.fr/tuto/Photoshop/tag/01.png) repeat-y;  -> 2 */
	/*background-color: #6BCCE5;*/
	border: 3px black groove;
}
#contenu a {
	color: #332510;
}
#contenu a:hover, #contenu a:focus {
	color: #6E5122;
}
#contenu strong {
	color: black;
}


/* --- POSITIONNEMENT --- */

/* Page */
body {
	padding: 10px 5px;
}
#global {
	width: 750px; /* -> 3 */
	margin: 0 auto; /* -> 4 */
}

/* En-tête */
#entete {
	padding: 20px 20px 20px 0;
}
#entete h1 {
	margin: 0;
}
#entete h1 img {
	float: left;
	margin: 7px 20px 10px 0;
}
#entete .sous-titre {
	margin: 4px 0 15px 0;
	color: black;
}

/* Bloc central contenant #navigation et #contenu */
#centre {
	width: 100%; /* -> 5 */
	overflow: hidden; /* -> 5 */
}

/* Menu de navigation */
#navigation {
	width: 180px;
	float: left; /* -> 6 */
}
#navigation ul {
	margin: 0;
	padding: 20px 10px 20px 10px;
	list-style: none;
}
#navigation a {
	display: block;
	height: 1%; /* -> 7 */
	padding: 6px 10px 6px 10px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}

/* Contenu */
#contenu {
	margin-left: 200px; /* -> 8 */
	padding: 10px 20px;
}
#contenu > :first-child {
	margin-top: 10px;
}
#contenu p, #contenu li {
	line-height: 1.5;
}

/* Pied de page */
#pied {
	margin: 0;
	padding: 15px 20px 10px 0;
	font-size: .85em;
}

/* Mention de copyright */
#copyright {
	margin: 8px 0 0 0;
	font-size: 1em;
	text-align: left;
}
